body{
	background-color:hsl(0, 0%, 95%);
}
.navi{
	height:65px;
	position:fixed;
	display:block;
	background-color:hsl(0, 0%, 95%);
	top:0;
	width:100%;
	margin-left:-10px;
}
.navi td{
	font-size:25px;
	font-family:Alegreya Sans SC;
	text-align:left;
	width:100px;
	color:hsl(0, 0%, 45%);
}
.navi .h{
	width:1000px;
	padding:20px;
}
.navi a{
	color:hsl(0, 0%, 45%);
	text-decoration:none;
	cursor:pointer;
}
.navi a:hover{
	color:black;
}
.head{
	margin-top:65px;
	text-align:center;
	padding-top:55px;
	height:250px;
	margin-left:-10px;
	width:101%;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url("https://www.arttutor.com/sites/default/files/styles/featured_image/public/oil%20brushes%20paints.jpg?itok=EdsydG-m");
	background-position:left;
}
hr{
	border:2px dotted white;
	width:600px;
}
.head h1{
	font-family:Arbutus Slab;
	font-size:50px;
	letter-spacing:20px;
	color:white;
}
.content{
	margin:10px;
	margin-top:50px;
	height:550px;
	background-color: white;
}
.content h1{
	text-align:left;
	padding-top:50px;
	color:hsl(0, 0%, 35%);
}
.content_1{
	display:flex;
	flex-direction:row;
}
.content_1 img{
	width:300px;
	height:250px;
	margin:20px;
	border-radius:20px;
	box-shadow:2px 2px 2px 2px hsl(0, 0%, 45%,0.3);
}
.content_1 p{
	font-size:18px;
	font-family:verdana;
	line-height:30px;
	margin-left:20px;
}
h1{
	text-align:center;
	font-size:30px;
	padding:20px;
}
.c_1{
	border:1px dotted grey;
	width:150px;
	text-align:left;
}
.c_2{
	border:1px dotted grey;
	width:100px;
	text-align:left;
}
.pic{
	text-align:center;
}
.pic1{
	width:400px;
	height:350px;
	border-radius:50px;
	margin-left:9px;
	text-align: center;
	display:inline-block;
	margin-bottom:20px;
}
.pic1:hover{
	box-shadow:2px 2px 2px 2px hsl(0, 0%, 20%);
}
.pic1 img{
	width:400px;
	height:350px;
	border-radius:50px;
}
.pic1 .cont{
	background-color:hsl(0, 0%, 25%,0.5);
	margin-top:-355px;
	position:absolute;
	width:400px;
	height:350px;
	border-radius:50px;
}
.pic1 .cont p{
	color:lightyellow;
	font-size:25px;
	text-align: center;
	font-family:Architects Daughter;
}
.pic1 .cont .p{
	color:lightyellow;
	font-size:18px;
	text-align: center;
	margin:20px;
	font-family:verdana;
}
.cont hr{
	border:1px solid lightyellow;
	width:300px;
	opacity:0.4;
}
.cont button{
	padding:15px;
	border-radius:20px;
	outline:none;
	border:none;
	width:100px;
	background-color:lightyellow;
	margin-top:20px;
}
.cont button:hover{
	width:110px;
	height:50px;
	border-radius:30px;
	cursor:pointer;
	background-color:hsl(60, 100%, 85%);
}
footer{
	margin-top:70px;
	margin-left:-10px;
	width:101%;
	height:350px;
	border-top:1px solid hsl(0, 0%,80%);
	background-color:hsl(0, 0%,90%);
	text-align: center;
}

#foot hr{
	border:1px solid hsl(0, 0%,70%,0.4);
	width:800px;
}
#foot i{
	color:grey;
	font-size:25px;
	letter-spacing:15px;
	margin-top:20px;
}
#foot i:hover{
	color: hsl(0, 0%,30%);
	cursor:pointer;
}
#foot p{
	font-size:18px;
	line-height:28px;
}
#foot a{
	color:black;
	text-decoration:none;
}
#foot a:hover{
	color:brown;
	text-decoration:underline;
}

/* paper krafts */

.p_k{
	margin:10px;
	margin-top:50px;
	height:720px;
	background-color: white;
}
.p_k h1{
	padding-top:50px;
	color:hsl(0, 0%, 35%);
}
.p_k_1{
	display:flex;
	flex-direction:row;
}
.p_k_1 img{
	width:310px;
	height:400px;
	margin:20px;
	border-radius:20px;
	box-shadow:2px 2px 2px 2px hsl(0, 0%, 45%,0.3);
}
.p_k_1 p{
	font-size:18px;
	font-family:verdana;
	line-height:30px;
	margin-left:20px;
}
.p_k li{
	list-style-type:"@";
	font-size: 20px;
	color:black;
	margin-left:30px;
	margin-top:2px;
}
.p_k a{
	font-size:20px;
	color:black;
	text-decoration: none;
}
.p_k a:hover{
	text-decoration:underline;
}
.c_3{
	margin-top:80px;
	border:1px dotted grey;
	width:150px;
	text-align:left;
}
.c_4{
	border:1px dotted grey;
	width:100px;
	text-align:left;
}
.contact{
	margin-top:50px;
	margin-left:350px;
	width:550px;
	height:850px;
	border:1px solid black;
}
.contact_1{
	height:150px;
	margin-top:-20px;
	background-image:url("https://image.freepik.com/free-photo/set-origami-paper-art-craft-bright-orange-surface_23-2148188396.jpg");
}
.contact_1 h1{
	padding-top:45px;
	color:white;
	font-family:amita;
}
 .contact .contact_2{
 	margin-left:50px;
 	margin-top:20px;
 }
 input[type=text],input[type=password]{
	width:250px;
	height:19px;
	padding:7px;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:10px;
	margin-bottom:10px;
	border:none;
	border-bottom:1px solid black;
	background-color:hsl(187, 52%, 80%,0.2);
	outline:none;
}
.contact_2 label{
	font-size:18px;
	font-family:amita;
	margin-top:5px;
}
input[type=submit]{
	margin-left:150px;
	margin-top:30px;
	width:150px;
	text-align:center;
	height:35px;
	border-radius:15px;
	background-color:hsl(187, 52%, 80%,0.5);
	cursor:pointer;
}
input[type=submit]:hover{
	background-color:hsl(210, 50%, 60%);
	color:white;
	box-shadow:1px 1px 1px 1px grey;
	outline:none;
}
#q{
	width:300px;
	height:50px;
	padding:7px;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:-5px;
	margin-bottom:10px;
	border:none;
	border-bottom:1px solid black;
	background-color:hsl(187, 52%, 80%,0.2);
	outline:none;
}
@media  screen and (max-width: 800px) {
  .head{
    width:100%;
  }
  .head h1{
  	font-size:30px;
  }
  .head hr{
  	width:300px;
  }
  .content h1{
  	text-align: center;
  }
  .content{
  	height:750px;
  	padding:15px;
  	text-align:center;
  }
  .content_1 img{
	width:250px;
	height:150px;
	margin:20px;
	margin-left:15%;
	border-radius:20px;
	box-shadow:2px 2px 2px 2px hsl(0, 0%, 45%,0.3);
 }
 .content_1{
 	text-align:center;
 	display:flex;
 	flex-direction:column-reverse;
 }
 .content_1 p{
	font-size:16px;
	font-family:verdana;
	line-height:20px;
	margin-left:20px;
 }
 .pic{
 	display:inline-block;
 	margin-left:40px;
 }
.pic1{
	width:300px;
	height:450px;
}
.pic1 img{
	width:300px;
	height:450px;
}
.pic .cont{
	width:300px;
	height:450px;
}
 #foot hr{
 	width:300px;
 }
 .p_k{
	margin:10px;
	margin-top:50px;
	height:1200px;
	background-color: white;
 }
 .p_k_1{
	display:flex;
	flex-direction:column-reverse;
 }
 .p_k_1 img{
	width:250px;
	height:200px;
	margin:20px;
	margin-left:25%;
	text-align: center;
	border-radius:20px;
	box-shadow:2px 2px 2px 2px hsl(0, 0%, 45%,0.3);
}
.p_k_1 p{
	font-size:16px;
	font-family:verdana;
	line-height:30px;
	margin-left:20px;
 }
}
@media  screen and (min-width:800px) and (max-width:1000px) {
 .content{
  	height:780px;
  	padding:15px;
  	text-align:center;
  }
  .pic{
 	display:inline-block;
 	margin-left:60px;
 }
 #foot hr{
 	width:600px;
 }
 .p_k{
 	height:1200px;
 }
}
